.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    li {
        list-style-type: none;
        margin: 4px 4px ;
        font-size: 0px;
       }
    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        right: -66px;
        left: auto;
    }
    
}

.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        background-color: rgb(187, 169, 169);
        border: none;
        border-radius: 100%;
        height: 15px;
        width: 15px;
    }
}
.slick-active {
    button {
        background-color: $main-color;
    }
}
