.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url(../img/consultation.jpg) center (center / cover) no-repeat;
    &__descr {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    }
    .error {
        border: 1px solid rgb(255, 0, 0);
    }
    label.error {
        color: #ffffff;
        border: none;
        text-align: center;
        margin-bottom: 15px;
    }
}